# djangorestframework
# channels
# channels-redis
# celery
# redis
# psycopg2-binary
# opencv-python
# pillow
# numpy
# ultralytics
# yolov5
# aiopg
# websockets
# daphne
# asgiref
# pycocotools
# matplotlib
# scikit-learn
# scikit-image
# requests
# huggingface_hub
# absl-py
# aiohttp
# aiohttp-retry
# aiosignal
# albumentations
# altair
# annotated-types
# anyio
# asgiref
# asttokens
# attrs
# beautifulsoup4
# blinker
# bs4
# cachetools
# certifi
# cffi
# chardet
# charset-normalizer
# click
# colorama
# contourpy
# cryptography
# cycler
# decorator
# deep-sort-realtime
# defusedxml
# distlib
# Django
# easydict
# executing
# fastapi
# filelock
# Flask
# fonttools
# frozenlist
# fsspec
# gdown
# gitdb
# GitPython
# google
# google-api-core
# google-api-python-client
# google-auth
# google-auth-httplib2
# google-auth-oauthlib
# google-oauth2-tool
# googleapis-common-protos
# grpcio
# h11
# httplib2
# huggingface-hub
# idna
# imageio
# imageio-ffmpeg
# imutils
# ipython
# itsdangerous
# jedi
# Jinja2
# joblib
# jsonschema
# jsonschema-specifications
# kiwisolver
# lazy_loader
# lxml
# Markdown
# markdown-it-py
# mdurl
# moviepy
# mpmath
# multidict
# mysql-connector-python
# mysqlclient
# narwhals
# networkx
# numpy
# oauth2client
# oauthlib
# opencv-python
# packaging
# pandas
# parso
# pillow
# pip
# platformdirs
# proglog
# prompt-toolkit
# proto-plus
# protobuf
# psutil
# pure-eval
# py-cpuinfo
# pyarrow
# pyasn1
# pyasn1_modules
# pycocotools
# pycparser
# pydantic
# pydantic_core
# pydeck
# Pygments
# PyJWT
# PyMySQL
# pyparsing
# PySocks
# pythainlp
# python-dateutil
# python-dotenv
# python-magic
# pytube
# pytz
# PyYAML
# referencing
# requests
# requests-oauthlib
# requests-toolbelt
# rich
# roboflow
# rpds-py
# rsa
# scikit-image
# scikit-learn
# scipy
# seaborn
# setuptools
# six
# smmap
# sniffio
# soap
# soupsieve
# sqlparse
# stack-data
# starlette
# streamlit
# supervision
# sympy
# tenacity
# tensorboard
# tensorboard-data-server
# thop
# threadpoolctl
# tifffile
# toml
# torch
# torchvision
# tornado
# tqdm
# traitlets
# twilio
# typing_extensions
# tzdata
# ultralytics ==8.1.34
# uritemplate
# urllib3
# uvicorn
# virtualenv
# watchdog
# wcwidth
# Werkzeug
# yarl
# opencv-python-headless

onnx==1.14.0
onnxruntime==1.15.1
pycocotools==2.0.7
PyYAML==6.0.1
scipy==1.13.0
onnxslim==0.1.31
onnxruntime-gpu==1.18.0
gradio==4.31.5
opencv-python==4.9.0.80
psutil==5.9.8
py-cpuinfo==9.0.0
huggingface-hub==0.23.2
safetensors==0.4.3